<div class="col-2">

</div>

<div class="center-div col-8">
  <div class="spanBadge">
    <p>
      <h1> What is PMP Certification?</h1>

    <p>
      PMP® stands for Project Management Professional.
    </p>
    <p>PMP is the world’s leading accreditation for those who consider project, program, or portfolio management their profession.</p>

    <p>The PMP certification validates that you have the project leadership skills.</p>



  </div>
  <p>
    To obtain PMP certification, a project manager must meet certain requirements and then pass a 180-question exam.
    The PMP exam was created by project leaders for project leaders,
    so each test question can be related to real-life project management experiences.
  </p>

  <p>
    The PMP Exam is available in the following languages:
    Arabic, Chinese (Simplified + Traditional), English, French, German, Hebrew, Indonesian, Italian,
    Japanese, Korean, Polish (Poland), Portuguese (Brazilian), Russian, Spanish (Mexico + Spain), and Turkish.

  </p>

  <p>If you are at the early stage of your career, the Certified Associate in Project Management (CAPM)
    is the right qualification for you. The main difference between the two PMI certifications concerns
    the prerequisites
    to access the exam and the number of questions/timing of the exam itself.
  </p>

  <div class="row">
    <div class="col-6 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>CAPM EXAM Test</h3></div>
          <div class="card-title">
            The CAPM® Exam Preparation course is designed for individuals seeking to gain more responsibility or add project management skills into their current role. The CAPM certification offers recognition to practitioners who are interested or are just starting a career in project management,
            as well as project team members who wish to demonstrate their project management knowledge.
          </div>
        </div>

        <br>
        <br>
        <button [routerLink]="['/capm']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>

    <div class="col-6 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>PMP EXAM Test</h3></div>
          <div class="card-title">
            The PMP Exam Preparation course is designed for individuals who have on-the-job project management experience.
            The training addresses all professionals, regardless of having the Project Manager title,
            past project management training and/or project manager certifications.
          </div>
        </div>

        <br>
        <br>
        <button [routerLink]="['/pmptest']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>





  </div>




</div>
