<div class="col-2">

</div>

<div class="center-div col-8">
  <div class="spanBadge">
    <p>
    <h1> Contact us</h1>

    <p>
      Contact us by sending email to info@sipcca.com.
    </p>


    <div class="row">
      <div class="col-7 badge-warning card">
        <div class="stat-widget-one">
          <div class="stat-content dib">
            <div class="stat-text"><h3>Email</h3></div>
            <div class="card-title">
              <p>Email us at practicesexams@sipcca.com</p>
              <p> (Alternative email address: practicesexams@sipcca.com)</p>
            </div>
          </div>

        </div>
      </div>

  </div>

  </div>





