<div class="col-2">

</div>

<div class="center-div col-8">
  <div class="spanBadge">
    <p>
    <h1> What is SCRUM?</h1>

    <p>
      Scrum helps people and teams deliver value incrementally in a collaborative manner.
      If you are just getting started, think of it as a way to get work done as a team in small pieces at a time,
      with experimentation and feedback loops along the way.
    </p>
    <p>If you want to demonstrate your knowledge and understanding of the Scrum framework and how it is applied,
      SCRUM certifications are a great way to do so.</p>



    <p>All of SCRUM certification tests embody the principles of Professional Scrum while providing a way
      for you to assess your current abilities and identify areas for improvement. Scrum
      has certifications covering topics that range from the fundamentals of Scrum, Scrum accountabilities,
      and topics beyond the Scrum framework - practices that complement Professional Scrum.</p>

    <p></p>


  </div>




  <div class="row">
    <div class="col-6 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>PSM I practice exam Test</h3></div>
          <div class="card-title">
            PSM I certification is evidence that you have demonstrated a fundamental level
            of Scrum mastery. As a PSM I certification holder, you have proven that you
            understand Scrum as desribed in the Scrum Guide and how to apply Scrum in
            Scrum Teams. PSM I holders have a consistent terminology and approach to Scrum
          </div>
        </div>

        <br>
        <br>
        <button [routerLink]="['/psm1']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>

    <div class="col-6 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>PSM II practice exam Test</h3></div>
          <div class="card-title">
            PSM II certification is evidence that you have demonstrated an advanced level
            of Scrum mastery, understanding of the Scrum Master accountabilities and how a scrum
            Team functions. As a PSM II certification holder, you have proven that you have an
            understanding of the principles and application of Scrum
          </div>
        </div>

        <br>
      </div>
    </div>





  </div>




</div>
