<div class="col-2">

</div>


<div class="center-div col-8">
  <div class="">
    <p>
    <h1> PSM I - Practice Tests</h1>
    <p><h2>Contents</h2>
    PSM I is recognized by the industry as a certification that demonstrates a fundamental level of Scrum mastery

    <p>The PSM I practice test package contains 5 complete tests (totalling to 400 questions).</p>


    <p><h2>Taking The Practice Tests</h2>

    <br>
    <p>Just like the real exam, you must complete a test in 60 minutes. You may choose to have an untimed test.
      You can also choose to review the questions one by one, untimed, and answers shown. </p>

    <p>Each complete test has:
    <ul>
      <li>1- 60 questions just like the real test</li>
      <li>2- full coverage (100%) of the test topics </li>
    </ul>
    <br>
    <p>The look and feel, and features of itestjava.com's PSM I practical test interface is similar to the real test interface at the testing centers. </p>

    <p><h2>Quality Of Practice Questions</h2>

    <p>Our questions are in similar level of difficulty as the real exam questions. </p>

  </div>

  <div>
    <button mat-raised-button color="primary" class="btn btn-lg btn-outline-primary" (click)="pay()">
      Buy it for {{ amount }} $US
    </button>
  </div>
</div>
