
  <div class="">

    <div >
      <div class="item">
        <div class="testimonial-content">
          <div class="testimonial-text">
            <div>
              <h2 class="badge-l">reference site for passing project management exams</h2>
            </div>
            <br>
            <i class="fa fa-quote-left"></i><h5> Our courses are comprised of a self-paced Learning
            Mode with Realistic Questions and in-depth explanations,
            Instructor Support if you need help,
            and Simulated Exams that replicate the real exam environment.</h5> <i class="fa fa-quote-right"></i>

          </div><br><br>

          <div class="testimonial-author-position"><h4>Demonstrate your expertise</h4>
          </div>
        </div>
      </div>
    </div>





  <div class="row">
    <div class="col-md-3 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>PMP</h3></div>
          <div class="card-title">The PMP acknowledges candidates skilled at managing the people, processes, and business priorities of professional projects. PMI, the world’s leading authority on project management, created the PMP to recognize project managers who have proven they have project leadership experience and expertise in any way of working.</div>
        </div>
        <button [routerLink]="['/pmp']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>

    <div class="col-md-3 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>SCRUM</h3></div>
          <div class="card-title">Scrum is a framework for developing, delivering and sustaining complex products through effective team collaboration.

            Scrum proved to be especially effective in iterative and incremental knowledge transfer. Scrum is now widely used for products, services, and the management of the organisation.</div>
        </div>

        <br>
        <br>
        <button [routerLink]="['/scrum']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>

    <div class="col-md-3 badge-warning card">
      <div class="stat-widget-one">
        <div class="stat-content dib">
          <div class="stat-text"><h3>ITIL</h3></div>
          <div class="card-title">ITIL® is the most widely accepted approach to IT Service Management in the world.

            The ITIL 4 certification scheme provides comprehensive, practical and proven guidance for establishing a service management system, providing a common glossary of terms for businesses using IT enabled services.</div>
         </div>
        <br><br>

        <button  [routerLink]="['/itil']" class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10"> ask more information</button>
      </div>
    </div>




  </div>








  </div>


